.tile{ 
    /*float: left; */
    position:absolute;
    margin: 0 0px 0px 0;
    /*border-radius:20px;*/
}
.r{background-color:#f00;}
.g{background-color:#0f0;}
.b{background-color:#00f;}
.p{background-color:#a2a;}
.y{background-color:#ff2;}
.demo{
    background-color:#333;
}
.sel{
    /*
    opacity:0.5;
    -moz-opacity:0.5;
    -khtml-opacity: 0.5; 
    filter:alpha(opacity=50);
    */
    box-shadow:2px 2px 3px 3px rgba(20%,20%,20%,0.5) inset;
}
.gone{background-color:#fff;}